<tr data-href="<%= student_path(application.student) %>">
  <td><%= application.student.full_name %></td>
  <td><%= application.current_building %></td>
  <td><%= application.current_program %></td>
  <td><%= application.current_status || "Pending" %></td>
</tr>
